.contact-item {
    border: solid 1px #000;
    border-radius: 20px;
    width: 60%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin: 20px auto
}

.contact {
    display: block;
    margin-left: 20px;
}

.contact-title {
    margin: 0;
    font-size: 18px;
}

.contact-value {
    font-size: 22px;
    margin: 0;
}