.experience-container {
  padding: 20px;
}

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  max-width: 1000px;
}

.timeline-item {
  display: flex;
  margin-bottom: 40px;
  position: relative;
  margin: 0 auto
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #1b4d3e;
}

.timeline-icon {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  z-index: 1;
}

.timeline-icon img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.timeline-icon a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.timeline-content {
  padding: 20px;
  border-radius: 10px;
  flex-grow: 1;
}

.timeline-position {
  font-size: 3em;
  font-weight: bold;
  margin: 0
}

.timeline-name {
  font-size: 1.5em;
  font-weight: bold;
  margin: 4px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.timeline-name:hover {
  text-decoration: underline;
}

.timeline-date {
  font-size: 1.3em;
  margin-bottom: 15px;
  color: #1B4D3E;
  margin: 4px
}

.timeline-descriptions {
  list-style-type: none;
  padding: 0;
  margin: 4px;
}

.timeline-description {
    display: flex;
  margin-bottom: 10px;
  font-size: 1.3em;
  line-height: 1.5;
}

.timeline-description p {
    margin: 0
}

@media screen and (max-width: 600px) {
    .timeline-position {
        font-size: 2em;
    }
}