body {
    background-color: #FFDAB9;
    margin: 30px 100px;
    color: #1B4D3E;
}

h1 {
    font-size: 90px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 600px) {
    body {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (min-width: 600px)  {
    body {
        margin-left: 20px;
        margin-right: 20px; 
    }
}

@media screen and (min-width: 768px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
    }
}