.headline-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headline-image {
    border-radius: 50%; 
    object-fit: cover; 
    margin: 0
}

.headline-title h1 {
    text-align: center;
    margin: 10px 0px;
}

.headline-title h2 {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .headline-container {
        display: block;
        margin: 0 10px
    }

    .headline-title h1 {
        font-size: 5em;
    }

    .headline-title h2 {
        font-size: 1.5em;
    }

    .headline-image {
        display: block;
        width: 250px;
        height: 250px;
        margin: 30px auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .headline-container {
        display: block;
        margin: 0 10px
    }

    .headline-title h1 {
        font-size: 6em;
    }

    .headline-title h2 {
        font-size: 1.5em;
    }

    .headline-image {
        display: block;
        width: 250px;
        height: 250px;
        margin: 30px auto;
    }
}

@media screen and (min-width: 768px) {    
    .headline-image {
        width: 300px; 
        height: 300px; 
        margin: 0
    }
    
    .headline-title h1 {
        font-size: 75px;
        text-align: left;
    }
    
    .headline-title h2 {
        font-size: 20px;
        text-align: left;
    }
}

@media screen and (min-width: 992px) {
    .headline-image {
        width: 320px; 
        height: 320px; 
        margin: 0
    }
    
    .headline-title h1 {
        font-size: 70px;
        text-align: left;
    }
    
    .headline-title h2 {
        font-size: 24px;
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .headline-container {
        margin: 150px 120px
    }
    
    .headline-image {
        width: 500px; 
        height: 500px; 
    }
    
    .headline-title h1 {
        font-size: 120px;
    }
    
    .headline-title h2 {
        font-size: 36px;
    }
}

