.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 50px auto;
    gap: 50px;
    background-color: #ffe4c4;
    border-radius: 20px;
    cursor: pointer;
}

.navbar-text {
    font-size: 20px;
    font-weight: 500;
}